* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

.layout {
  width: 1440px;
  margin: 0 auto;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  top: 30px;
  z-index: 10;
  width: 1440px;
  position: fixed;
  padding: 0 118px;
  font-weight: 600;
  justify-content: space-between;
}

.header__logo {
  width: 101px;
  height: 35px;
}

.header__navigation {
  column-gap: 24px;
}

.nav__link {
  width: 100px;
  color: white;
  font-size: 18px;
  text-align: center;
}

.header__language-selector {
  width: 40px;
  height: 40px;
  font-size: 14px;
  border-radius: 50%;
  background-color: white;
}

.hero {
  height: 773px;
  position: relative;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  font-family: "Bebas Neue", sans-serif;
  background-image: url(./picture/Hero.png);
}

.hero__subtitle {
  opacity: 72%;
  font-size: 80px;
  color: #e8edf2;
}

.hero__title {
  color: #fdfdfe;
  font-size: 250px;
  font-weight: 500;
  line-height: 100%;
}

.hero__year {
  opacity: 80%;
  color: white;
  font-size: 64px;
  font-weight: 900;
  line-height: 100%;
  font-family: "Hanuman", serif;
}
.location {
  height: 500px;
}
.travel-spot {
  width: 276px;
  height: 370px;
  overflow: hidden;
  position: relative;
  border-radius: 40px;
  box-shadow: -8px -8px 0px 0px rgba(46, 65, 71, 0.4),
    8px 8px 0px 0px rgba(41, 114, 139, 0.25);
}

.travel-spot__name {
  top: 50%;
  left: 50%;
  z-index: 10;
  opacity: 0.8;
  width: 232px;
  font-size: 37px;
  color: #fdfdfe;
  font-weight: 400;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: "Bebas Neue", sans-serif;
  text-shadow: 0px 4px 4.9px rgba(0, 0, 0, 0.65);
}

.travel-spot__overlay {
  inset: 0;
  opacity: 0;
  height: 100%;
  position: absolute;
  background-color: #292929;
}

.travel-spot .travel-spot__overlay:hover {
  opacity: 0.4;
}

.destination {
  height: 1022px;
  position: relative;
  background: url(./picture/Roadmap.png) center/cover no-repeat;
}

.destinations__header {
  row-gap: 10px;
  padding-top: 120px;
  flex-direction: column;
}

.destinations__title {
  font-size: 42px;
  font-weight: 600;
}

.destinations__subtitle {
  opacity: 70%;
  font-size: 20px;
  color: #181818;
  font-weight: 500;
  text-transform: capitalize;
}

.destinations__list {
  margin: 60px 121px 0;
}

.destination-card {
  width: 513px;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 9999px;
  border: 4px solid transparent;
  justify-content: space-between;
}

.destination-card:hover {
  border: white solid 4px;
}

.destination-card-sukhbaatar {
  background-color: rgba(238, 233, 217, 0.8);
}

.destination-card-amarbaysgalant {
  background-color: rgba(139, 184, 193, 0.8);
}

.destination-card-khorgo {
  background-color: rgba(170, 216, 215, 0.8);
}

.destination-card-terkh {
  background-color: rgba(139, 192, 189, 0.8);
}

.destination-card-khuvsgul {
  background-color: rgba(151, 204, 224, 0.8);
}

.destination-card__title {
  font-size: 24px;
  color: #090908;
  font-weight: 500;
  margin-bottom: 4px;
}

.destination-card__location {
  column-gap: 12px;
}

.location__name {
  font-size: 12px;
  color: #18181b;
  font-weight: 400;
  font-family: "Montserrat", serif;
}

.map-pin {
  width: 14px;
  height: 14px;
}

.destination-card__day {
  width: 52px;
  height: 52px;
  font-size: 14px;
  border-radius: 50%;
  background-color: #f7f6f3;
}

.place-pin {
  width: 34px;
  height: 34px;
  position: absolute;
}

.place-image {
  z-index: 20;
  width: 245px;
  height: 245px;
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
}

.sukhbaatar-position {
  top: 450px;
  left: 1167px;
}

.amarbaysgalant-position {
  top: 290px;
  left: 990px;
}

.khorgo-position {
  top: 420px;
  left: 790px;
}

.terkh-position {
  top: 520px;
  left: 890px;
}

.khuvsgul-position {
  top: 230px;
  left: 749px;
}

.destination-card-sukhbaatar:hover ~ .sukhbaatar-position {
  display: block;
}

.destination-card-amarbaysgalant:hover ~ .amarbaysgalant-position {
  display: block;
}

.destination-card-khorgo:hover ~ .khorgo-position {
  display: block;
}

.destination-card-terkh:hover ~ .terkh-position {
  display: block;
}

.destination-card-khuvsgul:hover ~ .khuvsgul-position {
  display: block;
}

.pricing {
  height: 1120px;
  background: url(./picture/Footer.png) center/cover no-repeat;
}

.pricing__header {
  text-align: center;
  padding-block: 40px 80px;
}

.pricing__title {
  font-size: 42px;
  font-weight: 600;
}

.pricing__subtitle {
  opacity: 70%;
  font-size: 20px;
  font-weight: 500;
  color: #181818;
  margin-top: 10px;
  text-transform: capitalize;
}

.pricing__packages {
  column-gap: 24px;
  margin-bottom: 116px;
}

.pricing-package {
  width: 384px;
  cursor: pointer;
  border-radius: 40px;
  padding: 32px 24px 48px;
  background-color: white;
}

.pricing-package:hover {
  box-shadow: -8px -8px 0px 0px rgba(46, 65, 71, 0.4),
    8px 8px 0px 0px rgba(41, 114, 139, 0.25);
}

.pricing-package:hover .package__select-button {
  color: white;
  background-color: black;
}

.pricing-package__header {
  font-size: 18px;
  color: #121316;
  column-gap: 16px;
  font-weight: 600;
  margin-bottom: 24px;
}

.heart {
  width: 36px;
  height: 36px;
}

.pricing-package__details {
  padding-block: 12px 30px;
}

.package__price {
  font-size: 40px;
  font-weight: 600;
  font-family: "Montserrat", serif;
}

.package__description {
  font-size: 16px;
  color: #919191;
  font-weight: 500;
  margin-block: 10px 32px;
  font-family: "Inter", serif;
}

.pricing-package__details h4 {
  font-size: 18px;
  color: #121316;
  font-weight: 500;
  padding-left: 40px;
  margin-bottom: 16px;
}

.package__includes {
  display: flex;
  row-gap: 16px;
  font-size: 14px;
  color: #3f4145;
  font-weight: 500;
  flex-direction: column;
}

.include__item {
  column-gap: 20px;
}

.package__select-button {
  width: 100%;
  border: none;
  font-weight: 600;
  padding-block: 14px;
  border-radius: 9999px;
  background-color: #a4d1e2;
}

.footer {
  column-gap: 20px;
  padding: 80px 120px;
}

.social {
  width: 171px;
  font-size: 18px;
  color: #6972b5;
  column-gap: 10px;
  font-weight: 700;
  padding-block: 10px;
  border-radius: 9999px;
  background-color: white;
  font-family: "Montserrat", serif;
}

.social img {
  width: 24px;
  height: 24px;
}

footer .pinetour {
  height: 35px;
  width: 101px;
  margin-left: auto;
}
